@page "/"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick = "() => Navigate('L')">Login</button>

@code{
    int num;
    async Task Navigate(char c)
    {
        string dest = "/";
        switch (c)
        {
            case 'L':
                dest += "login";
                break;
        }
        NavMan.NavigateTo(dest);
    }
}
