@page "/"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

CHARLIE-156-069| 173-374-325| 034-173| 173-156-034-325-034-325-275|| CHARLIE-156-069| 422-034-292-190-173| 104-292-069| 173-034-325-275-034-325-275|| CHARLIE-156-069| 438-207-207-325| 173-087-034-325-173| 104-325-190| 052-374-292-325-173|| 104-325-190| CHARLIE-INDIA-DELTA| JULIETT-CHARLIE-FOXTROT-QUEBEC-JULIETT| FOXTROT-QUEBEC-DELTA| YANKEE-GOLF-DELTA-DELTA-KILO-BRAVO-SIERRA-PAPA| CHARLIE-INDIA-DELTA| JULIETT-CHARLIE-FOXTROT-QUEBEC-JULIETT| FOXTROT-QUEBEC-DELTA| YANKEE-GOLF-DELTA-DELTA-KILO-BRAVO-SIERRA-PAPA| CHARLIE-INDIA-DELTA| JULIETT-CHARLIE-FOXTROT-QUEBEC-JULIETT| FOXTROT-QUEBEC-DELTA| YANKEE-GOLF-DELTA-DELTA-KILO-BRAVO-SIERRA-PAPA
