@page "/"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<h1>Login</h1>

@code {
    private User ToAdd;
    async Task Login_Async()
    {
        
    }
}
