@page "/FUCKYOUUUDUMBASSPAGEAAAAAAAA"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<h1 class="header">Dungeon</h1>
<h6 class="header" style="font-size:10px;">FLINT AND STEEL!</h6>

<table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
    <tr colspan="100%">
        @if (NoPlayerExists)
        {
            <iframe width="640"
                    height="480"
                    src="https://www.youtube.com/embed/WFg0vTeXhWs"
                    title="Oh, Hi mr frog :)"
                    frameborder="0"
                    allow="autoplay; fullscreen;">
            </iframe>
            <button class="generic-btn" @onclick="() => NavMan.NavigateTo(Login)">
                <div class="perma_name">Go to the login page.<br />You are not logged in >:( </div>
            </button>
        }
        else
        {
            
        }
    </tr>
</table>

@code {
    List<Monster> Monsters;
    Player Selected; bool NoPlayerExists; string Login = "Login";
    protected override async Task OnAfterRenderAsync(bool firstrender)
    {
        if (firstrender)
        {
            Monsters = await Middleman.GetMonsters(false);
            var tmp = Session.GetAsync<Player>("Selected player");
            if (tmp.Result.Success) { Selected = tmp.Result.Value; }
            else { NoPlayerExists = true; }
        }
    }

}
