@page "/"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<ul>
    @if (LoggedUser is null)
    {
        <li>
            <button @onclick="() => Navigate('L')" class="generic-btn">
                <div class="perma_name">
                    Login
                </div>
            </button>
        </li>
        <li>
            <button @onclick="() => Navigate('R')" class="generic-btn">
                <div class="perma_name">
                    Register
                </div>
            </button>
        </li>
        <navname>
            <div class="perma_name generic-btn">
                Hello user!
            </div>
        </navname>
    }
    else
    {
        <li>
            <button @onclick="() => Navigate('U')" class="generic-btn">
                <div class="perma_name">
                    Manage your user
                </div>
            </button>
        </li>
        @if (LoggedUser.isadmin)
        {
            <li>
                <button @onclick="() => Navigate('M')" class="generic-btn">
                    <div class="perma_name">
                        Manage other users
                    </div>
                </button>
            </li>
        }
        @* <li><button @onclick="() => Navigate('P')" class="generic-btn"><div class="perma_name">See your characters</div></button></li> *@
        <li>
            <button @onclick="() => Navigate('P')" class="generic-btn">
                <div class="perma_name">
                    Go to the lobby!
                </div>
            </button>
        </li>
        <li>
            <button @onclick="Log_Out_Async" class="generic-btn">
                <div class="perma_name">
                    Log out of your account
                </div>
            </button>
        </li>
        <navname>
            <div class="perma_name generic-btn">
                Hello, @LoggedUser.username!
            </div>
        </navname>
    }
</ul>


@code {
    protected User LoggedUser;
    async Task Navigate(char c)
    {
        string dest = "/";
        switch (c)
        {   
            case 'L': dest = "Login"; break;
            case 'R': dest = "Register"; break;
            case 'U': dest = "Update"; break;
            case 'P': dest = "Lobby"; break;
            case 'M': dest = "Manage"; break;
        }
        NavMan.NavigateTo(dest);
    }
    async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        await Session.DeleteAsync("Selected player");
        LoggedUser = null;
        await InvokeAsync(StateHasChanged);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var tmp = await Session.GetAsync<User>("Logged user");
            if (tmp.Success) { LoggedUser = tmp.Value; }

            await InvokeAsync(StateHasChanged);
        }
    }
}
