@page "/"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

@* <h1 class="header">Hello, world!</h1> *@
@if (LoggedUsername is not null) { <h1 class="header">Hello, @LoggedUsername!</h1> }
else { <h1 class="header">Hello, user!</h1> }

<table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
    <tr colspan="100%"> 
        <div class="button-container">
            <button @onclick="() => Navigate('L')" class="generic-btn">
                <div class="name">Login</div>
                <div class="tooltip">Log into your account</div>
            </button>
            @if (LoggedUsername is null)
            {
                <button @onclick="() => Navigate('R')" class="generic-btn">
                    <div class="name">Register</div>
                    <div class="tooltip">Create a new account</div>
                </button>
            }
            else
            {
                <button @onclick="() => Navigate('M')" class="generic-btn">
                    <div class="name">Manage your user</div>
                    <div class="tooltip">Change password, username, and more</div>
                </button>
            
                <button @onclick="() => Navigate('P')" class="generic-btn">
                    <div class="perma_name">See your characters</div>
                </button>
                <button @onclick="Log_Out_Async" class="generic-btn">
                    <div class="name">Log out</div>
                    <div class="tooltip">Log out of your current user</div>
                </button>
            }
        </div>
    </tr>
</table>



@code {
    protected User LoggedUser;
    protected string LoggedUsername;
    async Task Navigate(char c)
    {
        string dest = "/";
        switch (c)
        {   
            case 'L': dest = "Login"; break;
            case 'R': dest = "Register"; break;
            case 'M': dest = "Manage"; break;
            case 'P': dest = "Players"; break;
        }
        NavMan.NavigateTo(dest);
    }
    async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        LoggedUsername = null;

        await InvokeAsync(StateHasChanged);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var tmp = await Session.GetAsync<User>("Logged user");
            if (tmp.Success) { LoggedUser = tmp.Value; LoggedUsername = LoggedUser.username; }

            await InvokeAsync(StateHasChanged);
        }
    }
}
