@page "/Login"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session
@*@inherits Microsoft.AspNetCore.Components.ComponentBase*@

<style>
    body {
        background-image: url('/img/bg/library.png');
        background-size: cover;
    }
</style>

<ul>
    <li><div class="perma_name generic-btn">Log into your account</div></li>
    <navname><button @onclick="Back" class="generic-btn"><div class="perma_name">Go back to the main page</div></button></navname>
</ul>

<form @onsubmit="Login_Async">
    <div class="button-container">
        <input class="generic-btn" type="text" placeholder="Enter username here" @bind-value="username" title="You cannot have a user without a username" required style="font-size:20px; font-family:Forte;" />
        @if (tries >= 5)
        {
            <input class="generic-btn" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email here" @bind-value="email" required style="font-size:20px; font-family:Forte;" />
        }
        else
        {
            <input class="generic-btn" type="password" pattern="(?=.*[A-Z]).{6,20}" placeholder="Enter your password here." title="Password must be between 6 and 20 characters long and contain at least one uppercase letter" @bind-value="password" required style="font-size:20px; font-family:Forte;" />
        } @*"(?=.*[A-Z])(?=.*\d).{6,20}"*@
        <button class="generic-btn" type="submit">
            <div class="perma_name">Log in</div>
        </button>
        <button class="generic-btn" type="reset">
            <div class="perma_name">Reset all fields</div>
        </button>
        @if (RenderUser)
        {
            <br />
            if (response is User)
            {
                User tmp = new User(response as User);
                <div class="generic-btn">
                    <div class="perma_name">
                        @tmp.username is now logged in! You will be returned to the home page
                    </div>
                </div>
            }
            if (response is string)
            {
                @if(tries >= 5) { UseEmail = true; response += "Log in with your email instead." ; }
                <div class="generic-btn">
                    <div class="perma_name">
                        @response
                    </div>
                </div>
            }

        }
    </div>
</form>



@code {
    string username;
    string password;
    string email;
    object response;
    bool UseEmail = false;
    bool RenderUser = false;
    int tries = 0;
    private async Task Login_Async()
    {
        if (string.IsNullOrEmpty(email)) email = "";
        if (string.IsNullOrEmpty(password)) password = "";
        if (!UseEmail) { response = await Middleman.Login(username, password, false, email); }
        else { response = await Middleman.Login(username, password, true , email); }
        RenderUser = true;
        if (response is User) 
        { 
            await Session.SetAsync("Logged user", response as User);
            await InvokeAsync(StateHasChanged);
            await Task.Delay(1500);
            await Back();
        }
        else { tries++; }
        await InvokeAsync(StateHasChanged);
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
}
