@page "/Login"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session
@*@inherits Microsoft.AspNetCore.Components.ComponentBase*@

<h1 class="header">Login</h1>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
    <tr colspan="100%">
        <div class="button-container">
            <input class="generic-btn" placeholder="Enter username here" @bind-value="username" style="font-size:20px;" />
            <input class="generic-btn" placeholder="Enter your password here" @bind-value="password" style="font-size:20px;" />
            @* <input class="generic-btn" placeholder="Enter your email here" @bind-value="email" style="font-size:20px;" /> *@
            <button class="generic-btn" @onclick="Login_Async">
                <div class="perma_name">Log In!</div>
            </button>
            <button class="generic-btn" @onclick="Back">
                <div class="perma_name">Go back to the main page</div>
            </button>
        </div>
    </tr>
    <tr colspan="100%">
        @if (RenderUser)
        {
            if (response is User)
            {
                User tmp = new User(response as User);
                <div class="generic-btn">
                    <div class="perma_name">
                        @tmp.username is now logged in! You can go back to the main page
                    </div>
                </div>
            }
            if (response is string)
            {
                <div class="generic-btn">
                    <div class="perma_name">
                        @response
                    </div>
                </div>
            }
            
        }
    </tr>
</table>



@code {
    string username;
    string password;
    string email;
    object response;
    bool RenderUser = false;
    private async Task Login_Async()
    {
        response = await Middleman.Login(username, password);
        RenderUser = true;
        if (response is User) { await Session.SetAsync("Logged user", response as User); }
        await InvokeAsync(StateHasChanged);
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
}
