@page "/Manage"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session


@if (!UserDoesExist || !IsAdmin)
{
    <iframe width="640"
            height="480"
            src="https://www.youtube.com/embed/WFg0vTeXhWs"
            title="Oh, Hi mr frog :)"
            frameborder="0"
            allow="autoplay; fullscreen;">
    </iframe>
    <button class="generic-btn" @onclick="() => NavMan.NavigateTo(Login)">
        <div class="perma_name">Go to the login page.<br />You are not logged in >:( </div>
    </button>
}
else
{
    <ul>
        <li><div class="perma_name">Manage other users</div></li>
        <li><div class="perma_name">Hello, @LoggedUser.username!</div></li>
        <navname><button @onclick="Back" class="generic-btn"><div class="perma_name">Go back to the main page</div></button></navname>
    </ul>
    <table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
        <tr colspan="100%">
            <div class="button-container">
                @if (SelectedUsers is not null)
                {
                    @foreach (User user in SelectedUsers)
                    {
                        @* <button class="generic-btn">
                            <div class="perma_name">@user.username</div>
                        </button> *@
                        <Dropdown Color="DropdownColor.Primary">
                        <DropdownToggleButton>Primary</DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
                            <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
                            <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
                        </DropdownMenu>
                        </Dropdown>

                    }
                }
            </div>
        </tr>
    </table>
}


<style>
    body {
        background-image: url('/img/bg/library.png');
    }
</style>

@code {
    List<User> AllUsers;
    List<User> SelectedUsers;
    User LoggedUser;
    bool UserDoesExist; bool IsAdmin;
    string username; string password; string email;
    const string Login = "Login"; [Inject] IJSRuntime JS { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var tmp = await Session.GetAsync<User>("Logged user");
        if (tmp.Success) 
        { 
            LoggedUser = tmp.Value; 
            UserDoesExist = true;
            IsAdmin = tmp.Value.isadmin;
        }
    } //Gets the logged user and verifies logged user is an admin
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AllUsers = await Middleman.GetAllUsers();
            SelectedUsers = new List<User>(AllUsers);
            StateHasChanged();
        }
    } //Gets all users to manage
    private async Task Back() { NavMan.NavigateTo("/"); }
    private async Task DeleteUser(User user)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to delete your user?");
        if (confirmed) { await Middleman.DeleteUser(user); }
    }
    private async Task RestoreUser(User user)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to restore your user?");
        if (confirmed) { await Middleman.UnDeleteUser(user); }
    }
    private async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        UserDoesExist = false;
        await InvokeAsync(StateHasChanged);
    }
    private async Task FilterUsers()
    {
        SelectedUsers = AllUsers.FindAll(x => x.ishidden == false);
    }
}
