@page "/Manage"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session



<ul>
    <li><div class="perma_name generic-btn">Manage other users</div></li>
    @if (LoggedUser is not null)
    {
        <li><div class="perma_name generic-btn">Hello, @LoggedUser.username!</div></li>
    }
    <navname><button @onclick="Back" class="generic-btn"><div class="perma_name">Go back to the main page</div></button></navname>
</ul>
<table>
    <td style="background-color: rgba(51, 51, 51, 0.25); max-width:50%; vertical-align:central">
        @if (AllUsers is not null)
        {
            <div style="display:flex; flex-flow: column wrap; overflow:auto; max-height:730px; min-width:450px;">
                @foreach (User user in AllUsers)
                {
                    <div class="dropdown" style="padding: 20px 0px 40px 20px;">
                        <div class="perma_name dropbtn">
                            @user.username
                        </div>
                        <div class="dropdown-content">
                            @if (user.ishidden)
                            {
                                <button @onclick="() => RestoreUser(user)">
                                    Restore this user
                                </button>
                            }
                            else
                            {
                                <button @onclick="() => DeleteUser(user)">
                                    Delete this user
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </td>
</table>


<style>
    body {
        background-image: url('/img/bg/library.png');
    }
</style>

@code {
    List<User> AllUsers;
    User LoggedUser;
    string username; string password; string email;
    const string Login = "Login"; [Inject] IJSRuntime JS { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        var tmp = await Session.GetAsync<User>("Logged user");
        if (tmp.Success)
        {
            LoggedUser = tmp.Value;
            if (!LoggedUser.isadmin){ await Back(); }
        }
    } //Gets the logged user and verifies logged user is an admin
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AllUsers = await Middleman.GetAllUsers();
            StateHasChanged();
        }
    } //Gets all users to manage
    private async Task Back() { NavMan.NavigateTo("/"); }
    private async Task DeleteUser(User user)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to delete this user?");
        if (confirmed) { await Middleman.DeleteUser(user); }
        await PostActionCleanup();
    }
    private async Task RestoreUser(User user)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to restore this user?");
        if (confirmed) { await Middleman.UnDeleteUser(user); }
        await PostActionCleanup();
    }
    private async Task PostActionCleanup()
    {
        AllUsers = await Middleman.GetAllUsers();
        await InvokeAsync(StateHasChanged);
    }
    private async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        await InvokeAsync(StateHasChanged);
    }
}
