@page "/Manage"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<h1 class="header">Manage</h1>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
    <tr colspan="100%">
        <div class="button-container">
            @if (UserDoesExist)
            {
                <div class="generic-btn">
                    <div class="name">Your name:</div>
                    <div class="tooltip">@LoggedUser.username</div>
                </div>
                <div class="generic-btn">
                    <div class="name">Your email:</div>
                    <div class="tooltip">@LoggedUser.email</div>
                </div>
                <div class="generic-btn">
                    <div class="name">Your password:</div>
                    <div class="tooltip">@LoggedUser.password</div>
                </div>
                <button @onclick="Log_Out_Async" class="generic-btn">
                    <div class="name">Log out</div>
                    <div class="tooltip">Log out of your current user</div>
                </button>
            }
        </div>
    </tr>
    <tr colspan="100%">
        <div class="generic-btn"><div class="perma_name">Change your data</div></div>
        <input class="generic-btn" placeholder="Enter username here" @bind-value="username" style="font-size:20px;" />
        <input class="generic-btn" placeholder="Enter your password here" @bind-value="password" style="font-size:20px;" />
        <button @onclick="Update" class="generic-btn">
            <div class="name">Update user</div>
            <div class="tooltip">WARNING: This is irreversible</div>
        </button>
        <button @onclick="Delete" class="generic-btn">
            <div class="name">Delete user</div>
            <div class="tooltip">WARNING: This is irreversible</div>
        </button>
    </tr>
    <tr colspan="100%">
        <button class="generic-btn" @onclick="Back">
            <div class="perma_name">Go back to the main page</div>
        </button>
    </tr>
</table>


@code {
    User LoggedUser;
    bool UserDoesExist;
    string username; string password; string email;
    protected override async Task OnInitializedAsync()
    {
        var tmp = await Session.GetAsync<User>("Logged user");
        if (tmp.Success) { LoggedUser = tmp.Value; }
        UserDoesExist = await Middleman.DoesUserExist_ByKey_Async("username",LoggedUser.username);
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
    private async Task Delete() { await Middleman.Delete(LoggedUser); await Log_Out_Async(); }
    private async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        UserDoesExist = false;
        await InvokeAsync(StateHasChanged);
    }
    private async Task Update()
    {
        User Post = new User(LoggedUser);
        if (username is not null) { Post.username = username; }
        if (password is not null) { Post.password = password; }
        await Middleman.Update(LoggedUser, Post);
        await Session.SetAsync("Logged user", Post);
        await InvokeAsync(StateHasChanged);
    }
}
