@page "/Register"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<ul>
    <li><div class="perma_name">Register a new account</div></li>
    <navname><button @onclick="Back" class="generic-btn"><div class="perma_name">Go back to the main page</div></button></navname>
</ul>

<form @onsubmit="Register_Async">
    <div class="button-container">
        <input class="generic-btn" type="text" placeholder="Enter username here" @bind-value="username" required style="font-size:20px; font-family:Forte;" />
        <input class="generic-btn" type="password" pattern="(?=.*[A-Z]).{6,20}" placeholder="Enter your password here." title="Password must be between 6 and 20 characters long and contain at least one uppercase letter" @bind-value="password" required style="font-size:20px; font-family:Forte;" />
        <input class="generic-btn" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email here" @bind-value="email"  style="font-size:20px; font-family:Forte;" />
        <button class="generic-btn" type="submit">
            <div class="perma_name">Register</div>
        </button>
        <button class="generic-btn" type="reset">
            <div class="perma_name">Reset all fields</div>
        </button>
        <br />
        @if (RenderUser)
        {
            if (response is User)
            {
                User tmp = new User(response as User);
                <div class="generic-btn">
                    @tmp.username is now registered! Enjoy!
                </div>
            }
            if (response is string)
            {
                <div class="generic-btn">
                    @response
                </div>
            }
        }
    </div>
</form>

<style>
    body {
        background-image: url('img\bg\library.png');
    }
</style>

@code {
    string username;
    string password;
    string email;
    object response;
    bool RenderUser;
    private async Task Register_Async()
    {
        response = await Middleman.Register(new User(username,password,email),"");
        RenderUser = true;
        if (response is User) { await Session.SetAsync("Logged user", response as User); }
        await InvokeAsync(StateHasChanged);
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
}
