@page "/Update"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

@if (!UserDoesExist)
{
    <iframe width="640"
            height="480"
            src="https://www.youtube.com/embed/WFg0vTeXhWs"
            title="Oh, Hi mr frog :)"
            frameborder="0"
            allow="autoplay; fullscreen;">
    </iframe>
    <button class="generic-btn" @onclick="() => NavMan.NavigateTo(Login)">
        <div class="perma_name">Go to the login page.<br />You are not logged in >:( </div>
    </button>
}
else
{
    <ul>
        <li><div class="perma_name">Manage or update your user</div></li>
        <li><div class="perma_name">Hello, @LoggedUser.username!</div></li>
        <navname><button @onclick="Back" class="generic-btn"><div class="perma_name">Go back to the main page</div></button></navname>
    </ul>
    <form @onsubmit="UpdateUser" style="font-size:20px; font-family:Forte;">
        <input class="generic-btn" type="text" placeholder="Enter an updated username, if you want to update it" @bind-value="username" style="font-size:20px; font-family:Forte;" />
        <input class="generic-btn" type="password" pattern="(?=.*[A-Z]).{6,20}" placeholder="Enter an updated password, if you want to update it" title="Password must be between 6 and 20 characters long and contain at least one uppercase letter" @bind-value="password" style="font-size:20px; font-family:Forte;" />
        <input class="generic-btn" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Your email goes here" @bind-value="email" required title="Your email goes here for verification purposes" style="font-size:20px; font-family:Forte;" />
        <button type="submit" class="generic-btn" style="font-size:20px; font-family:Forte;">
            Update your user
        </button>
        <button type="button" class="generic-btn" style="font-size:20px; font-family:Forte;" @onclick="DeleteUser">
            Delete your user
        </button>
    </form>
}


@code {
    User LoggedUser;
    UserDB UDB;
    bool UserDoesExist;
    string username; string password; string email; string Login = "Login";
    [Inject] IJSRuntime JS { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        var tmp = await Session.GetAsync<User>("Logged user");
        if (tmp.Success) { LoggedUser = tmp.Value; UserDoesExist = true; }
        UDB = new UserDB();
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
    private async Task Delete() 
    { 
        await Middleman.DeleteUser(LoggedUser); 
        await Log_Out_Async(); 
    }
    private async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        UserDoesExist = false;
        await Back();
    }
    private async Task UpdateUser()
    {
        User toupdate = new User(username, password, LoggedUser.email);
        await UDB.Update_Async(LoggedUser, toupdate);
        LoggedUser = new User(toupdate);
        await Session.SetAsync("Logged user", LoggedUser);
        await InvokeAsync(StateHasChanged);
    }
    private async Task DeleteUser()
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you SURE you want to delete your user? This action is permanent!");
        if (confirmed) { await Delete(); await Log_Out_Async(); }
    }
}
